.weather__details {
    padding-bottom: 10px;
    margin: 40px 0;
    border-bottom: 1px rgb(240, 240, 240) solid;
    list-style: none;

    .details {
        margin: 50px 0;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        color: rgb(240, 240, 240);
    }
}