.sidebar__section {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(240, 240, 240, 0.18);
    z-index: 1;
    padding: 24px 16px;

    // overflow-y: scroll; это сделать  только на мобилке
    @media screen and (max-width: 769px) {
        position: relative;
        width: 100%;
        top: initial;
    }
}